<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ name }}'s Site</title>
    <link rel=stylesheet href="/assets/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description |> replacePlaceholders }}">
  </head>
  <body>
    <nav>
      <a href="/">Main Page</a>
      <a href="/blog/">Blog</a>
    </nav>
    {{ content |> replacePlaceholders }}
  </body>
</html>