---
layout: layout.vto
description: NAME's statistical visualizations.
---
<h1>My statistical visualizations (page {{ currentPage }}/{{ totalPages }})</h1>

<div class="blog-list">
{{ for result of results }}
    <a href="{{ result.url }}" class="blog-entry">
        <span class="blog-desc-title">{{ result.description }}</span>
        <span class="blog-desc-text">Date: {{ result.date |> formatDate }}</span>
        <span class="blog-desc-text">Tags: {{ result.tags |> formatTags }}</span>
        <div class="blog-desc-image">
            <img src="/assets/{{ result.url.replace("/statviz", "") }}{{ result.image }}" alt="{{ result.imageAlt }}">
        </div>
    </a>
{{ /for }}
</div>